<div class="vl-12 border-alert my-small">

    <div class="header-container mx-none">New</div>

    <div class="row" action="" method="post" autocomplete="off">
        <div class="content-container vm-12 py-small">
            <input type="text" name="task_input" id="task_input" placeholder="description" 
                class="form-input px-small w-auto h-auto" />
        </div>
        <div class="content-container form-option vm-6 py-small">
            <select name="task_type" id="task_type" class="px-small">
                <option value="1">Task</option>
                <option value="2">Reminder</option>
                <option value="3">Note</option>
            </select>
        </div>
        <div class="content-container form-option vm-4 py-small">
            <select name="task_priority" id="task_priority" class="px-small">
                <option value="3">Low</option>
                <option value="2">Medium</option>
                <option value="1">High</option>
            </select>
        </div>
        <div class="content-container vm-auto py-small">
            <button name="task" id="new_task" class="btn border-green w-auto px-small">Add</button>
        </div>
    </div>
</div>